.bodyContainer{
    width: 85vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    border-radius: 5px;
    border: solid 1px grey;
    padding: 0px 16px 16px;
}

.agendaGrid{
    text-align: center;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 10% 10% 10% 1fr 10%;
    /* grid-template-rows: repeat(5, 1fr); */
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

.pointer:hover{
    cursor: pointer;
}

.accepted{
    color: rgb(22, 146, 22);
}

.rejected{
    color: rgb(201, 15, 15);
}