.ticketContainer {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 6px;
    display: grid;
    grid-template-columns: 10% 1fr 10% 10%;
    gap: 0px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    box-shadow: 6px 5px 5px 0px rgba(120,118,118,0.75);
    -webkit-box-shadow: 6px 5px 5px 0px rgba(120,118,118,0.75);
    -moz-box-shadow: 6px 5px 5px 0px rgba(120,118,118,0.75);
  }

.ticketContainer .pointer{
    overflow: hidden;
}

.gridElementH4{
    text-align: center;
    color: grey;
}

.gridElementBolder{
    font-size: 1rem;
    color: black;
    overflow: hidden; /* Oculta cualquier contenido que desborde del contenedor */
    white-space: nowrap; /* Evita que el texto se divida en líneas */
    text-overflow: ellipsis; /* Muestra puntos suspensivos (...) para indicar que hay más texto oculto */
}

.centerOfGrid{
    font-size: 0.9rem;
    padding-left: 2%;
    text-align: left;
    border-left: 1px solid rgba(128, 128, 128, 0.781);
}

.gridElement{
    padding: 2px;
    /* border: 2px solid black; */
}

.modalTitle{
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.modalSelect{
    width: 80%;
    margin-bottom: 1rem;
}

.modalButton{
    min-width: 6rem;
    padding: 9px 12px;
    margin: 0px 0px 2px 12px;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    font-weight: 500;
    color:aliceblue;
    border: none;
    background-color: var(--color-basani);
    border-radius: 10px;
}

.pointer{
    cursor: pointer;
}


@media (min-width: 835px) and (max-width: 1117px) {
    .ticketContainer {
        grid-template-columns: 10% 1fr 12% 10%;
    }

    .gridElementH4{
        font-size: 0.8rem;
    }

    .ticketContainer h3{
        font-size: 1rem;
    }

    .icon{
        padding: 0px;
        margin: 0px;
    }

  }

  /* media query para Celulares */

  @media (min-width: 644px) and (max-width: 835px){
    /* .ticketContainer {
        display: none;
      } */

    .ticketContainer {
        grid-template-columns: 10% 1fr 18% 10%;
        
    }

    
    .gridElementH4{
        font-size: 0.8rem;
    }

    .gridElement{
        padding: 2px;
        /* border: 2px solid black; */
    }

    .modalTitle{
        font-size: 1rem;
    }

 }

 @media (max-width: 643px){
    /* .ticketContainer {
        display: none;
      } */

    .ticketContainer {
        grid-template-columns: 10% 1fr 18% 10%;
    }

    
    .gridElementH4{
        font-size: 0.6rem;
    }

    .gridElement{
        padding: 2px;
        /* border: 2px solid black; */
    }

    .modalTitle{
        font-size: 1rem;
    }

 }

 @media (max-width: 643px){
    /* .ticketContainer {
        display: none;
      } */

    .ticketContainer {
        grid-template-columns: 10% 1fr 18% 10%;
    }

    
    .gridElementH4{
        font-size: 0.6rem;
    }

    .gridElement{
        padding: 2px;
        /* border: 2px solid black; */
    }

    .modalTitle{
        font-size: 1rem;
    }

 }