.card{
   min-width: 850px; 
   margin-top: 10px;
   margin-bottom: 2px;
   border-radius: 10px;
   
}

.cardContent{
    background-color: rgb(226, 243, 250);
    padding: 10px;
    width: 100%;
    display: grid;
    grid-template-columns: 10% 15% 75%;
    gap: 2px;
    font-size: 0.9rem;
    margin-bottom: 3px;
    border-radius: 10px 10px 0px 0px;
    border-bottom: 1px solid #dadada;
}