.hr{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.cardWorker{
    min-width: 250px;
    /* height: 300px; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 16px;
    background-color: rgb(42, 42, 230);
    border-radius: 10px;
    box-shadow: 6px 5px 5px 0px rgba(120,118,118,0.75);
-webkit-box-shadow: 6px 5px 5px 0px rgba(120,118,118,0.75);
-moz-box-shadow: 6px 5px 5px 0px rgba(120,118,118,0.75);
}

.cardWorkerUser{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px 0px;
    background-color: aliceblue;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    font-size: 2rem;
    font-weight: 600;
    color:black;
}

.cardWorkerUserTitle{
    color: aliceblue;
}

.desarrolloContainer{
    margin: 12px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 12px;
}

.desarrolloContainerTitles{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.desarrolloContainerTitles h4{
    color: aliceblue;
}

.gridTicket{
    margin: 5px 0px;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr; 
}

.gridTicketTitle{
    justify-self: left;
}

.gridTicket h4{
    color: #ffffff;
}