.Container{
    display:flex;
    flex-direction: column;
}

.divider{
    font-size: 2rem;
    width: 100%;
    margin: 12px 0px ;
}

.noproject{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.cardContainer{
    display: grid; 
  grid-auto-rows: 1fr; 
  grid-template-columns: repeat(3, 1fr); 
  grid-template-rows: auto; 
  gap: 10px 11px; 
    padding: 20px;
    width: 100%;
}

.subtitleContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.subtitleContainer h5{
    margin-right: 10px;
}

.subtitleContainer a{
    padding: 0px;
    
}