@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap');

.visibilityContainer{
    display: contents;
    padding: 6rem 6rem 6rem 7rem;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: var(--color-background-bodyalternate);
}

/* .visibilityContainerMobile{
    display: none;
} */

.title{
    width: 100%;
    font-family: 'Titillium Web', sans-serif;
    color:var(--color-basani);
    font-weight: 600;
    margin-bottom: 20px;
    padding-bottom: 0px;
}

.subtitle{
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.3rem;
    margin: auto;
    margin-bottom: 15px;
    
  }

.infoContainer{
    width: 100%;
    display: flex;
    
    flex-direction: column;
    align-items: flex-start;
    
}

.titleContainer{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 32px;
    margin-bottom: 15px;
    color: var(--color-basani);
}

.stateContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.stateContainer p{
    font-family: 'Titillium Web', sans-serif;
    margin: 3px 3px 3px 13px;
}

.stateContainer2 p{
    font-family: 'Titillium Web', sans-serif;
    margin: 3px 3px 3px 13px;

}

.stateContainer button{
    min-width: 6rem;
    padding: 7px 10px;
    margin: 0px 0px 2px 12px;
    font-size: 0.9rem;
    font-weight: 500;
    color:aliceblue;
    border: none;
    background-color: var(--color-basani);
    border-radius: 8px;
}

.stateContainer2 button{
    min-width: 6rem;
    padding: 7px 10px;
    margin: 0px 0px 2px 12px;
    font-size: 0.8rem;
    font-weight: 500;
    color:aliceblue;
    border: none;
    background-color: var(--color-basani);
    border-radius: 8px;
}

.form{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    color: antiquewhite;
}

.label{
    margin-bottom: 8px;
}

.textarea{
    margin-bottom: 10px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
    width: 80vw;
    height: 120px;
    padding: 8px 9px;
    border: none;
    border-radius: 10px;
    background-color: white;
    box-shadow: 6px 5px 5px 0px rgba(120,118,118,0.75);
-webkit-box-shadow: 6px 5px 5px 0px rgba(120,118,118,0.75);
-moz-box-shadow: 6px 5px 5px 0px rgba(120,118,118,0.75);

  }

.adjuntos{
    color: black;
    margin: 8px 0px  ;
    
}

.adjuntos a{
    font-weight: 600;
    color: var(--color-primaryfont)   
}

.modalTitle{
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.modalSelect{
    width: 80%;
    margin-bottom: 1rem;
}

.modalSubtitleContainer{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.modalTextarea{
    width: 100%;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    font-weight: 700;
    padding: 8px 9px;
}

.modalSubitle{
    font-size: 0.9rem;
    margin: 8px 0px;
}

.modalChecks{
    margin-bottom: 8px;
}

.modalButton{
    min-width: 6rem;
    padding: 9px 12px;
    margin: 0px 0px 2px 12px;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    font-weight: 500;
    color:aliceblue;
    border: none;
    background-color: var(--color-basani);
    border-radius: 10px;
}

.buttonGreen{
    border:none;
    background-color: transparent;
    cursor:pointer;
    color: green;
}

.buttonRed{
    border:none;
    background-color: transparent;
    cursor:pointer;
    color: red;
}


.buttonGrey{
    border:none;
    background-color: transparent;
    cursor:pointer;
    color: grey;
}


