/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;600;700&display=swap');

.detailContainer{
    padding: 4rem;
    padding-right: 14rem;
    width: 100%;
    min-height: 100vh;
    display: flex;
    margin-left: 12.5rem;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-background-bodyalternate);
} */

.visibilityContainer{
    display: contents;
    padding: 6rem 6rem 6rem 7rem;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--color-background-bodyalternate);
}

.visibilityContainerMobile{
    display: none;
}

.title{
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    margin-bottom: 20px;
    padding-bottom: 0px;
}

.subtitle{
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    margin: auto;
    margin-bottom: 15px;
    text-align: center;
  }

.infoContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titleContainer{
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 15px;
}

.stateContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.stateContainer p{
    font-family: 'Roboto', sans-serif;
    margin: 3px 3px 3px 13px;

}

.stateContainer2 p{
    font-family: 'Roboto', sans-serif;
    margin: 3px 3px 3px 13px;

}

.stateContainer button{
    min-width: 6rem;
    padding: 7px 10px;
    margin: 0px 0px 2px 12px;
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
    font-weight: 500;
    color:aliceblue;
    border: none;
    background-color: var(--button-color);
    border-radius: 10px;
}

.stateContainer2 button{
    min-width: 6rem;
    padding: 7px 10px;
    margin: 0px 0px 2px 12px;
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
    font-weight: 500;
    color:aliceblue;
    border: none;
    background-color: var(--button-color);
    border-radius: 10px;
}

.form{
    width: 80%;
    margin: 2px auto ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: antiquewhite;
}

.label{
    margin-bottom: 8px;
}

.textarea{
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    font-weight: 700;
    padding: 8px 9px;
  }

.adjuntos{
    color: black;
    margin: 8px 0px  ;
    
}

.modalTitle{
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.modalSelect{
    width: 80%;
    margin-bottom: 1rem;
}

.modalSubtitleContainer{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.modalTextarea{
    width: 100%;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    font-weight: 700;
    padding: 8px 9px;
}

.modalSubitle{
    font-size: 0.9rem;
    margin: 8px 0px;
}

.modalChecks{
    margin-bottom: 8px;
}

.modalButton{
    min-width: 6rem;
    padding: 9px 12px;
    margin: 0px 0px 2px 12px;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    font-weight: 500;
    color:aliceblue;
    border: none;
    background-color: var(--button-color);
    border-radius: 10px;
}

.buttonGreen{
    border:none;
    background-color: transparent;
    cursor:pointer;
    color: green;
}

.buttonRed{
    border:none;
    background-color: transparent;
    cursor:pointer;
    color: red;
}


.buttonGrey{
    border:none;
    background-color: transparent;
    cursor:pointer;
    color: grey;
}

/* media query para tablets */

@media (min-width: 768px) and (max-width: 1024px) {
    .titleContainer{
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 15px;

    }

    .stateContainer h3{
      font-size: 1rem;
    }
    
    .stateContainer p{
      font-size: 1rem;
    }

    .adjuntos{
        color: black;
        margin-top: 8px;
        font-size: 0.8rem;
    }
  
  }
  
  /* media query para Celulares */
  
  @media (max-width: 768px) {
    .visibilityContainer{
      display: none;
    }
  
    .visibilityContainerMobile{
        display: contents;
        padding: 6rem 6rem 6rem 7rem;
        min-height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background-color: var(--color-background-bodyalternate);
    }
  
    .title{
      font-size: 1.2rem;
    }
  
    .subtitle{
      font-size: 1.1rem;
      margin-bottom: 8px;
    }
  
    .minimalGrid{
      width: 100%;
      margin-bottom: 1rem;
      display: block;
      grid-template-columns: 25% 1fr; 
      grid-template-rows: 1fr; 
      gap: 10px 11px;
    }

    .titleContainer{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-bottom: 15px;
    }

    .stateContainer2{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .stateContainer h3{
        font-size: 1rem;
    }

    .stateContainer2 h3{
        font-size: 1rem;
    }

    .stateContainer p{
        font-size: 1rem;
    }

    .stateContainer button{
        display: block;
    }

    .assigmentContainer2{
        display: flex;
        flex-direction: row;
    }

   
    
  }
