.gridContainer{
    width: 100%;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.filters {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* flex-wrap: wrap; */
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.filters input, .filters button {
  padding: 0.5rem;
  font-size: 1rem;
}        