.detailContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: justify;
    margin: 15px 0px;
}

.margin{
    padding: 0px;
}

.horizontalLine{
    width: 100%;
}

.userStorieTitle{
    margin: 15px 0px;
    padding: 20px;
    width: 100%;
}

.storiesSubtitle{
    font-size: 1.5rem;
    font-family: "Roboto", "Helvetica Neue";
    margin-right: 15px;
}

.containerUserstoriesCard{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 15px;
}

.titleContainer{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;

}

.placeholder::placeholder{
   background-color: black;
}

.labelContainer{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 15px;
}

.labelContainer label{
    margin-bottom: 5px;
}

.button{
    width: 16%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    background-color: var(--color-basani);
    border-radius: 10px;
    padding: 8px 12px;
    box-shadow: 6px 5px 5px 0px rgba(120,118,118,0.75);
-webkit-box-shadow: 6px 5px 5px 0px rgba(120,118,118,0.75);
-moz-box-shadow: 6px 5px 5px 0px rgba(120,118,118,0.75);
}

.button h5{
    color: white;
    letter-spacing: 1px;
}

.button hr{
    height: 1.4rem;
    width: 1px;
    border: none;
    background-color: white;
}