.phoneCard{
   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 8px;
    min-width: 200px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 6px 5px 5px 0px rgba(120,118,118,0.75);
    -webkit-box-shadow: 6px 5px 5px 0px rgba(120,118,118,0.75);
    -moz-box-shadow: 6px 5px 5px 0px rgba(120,118,118,0.75);
}