.cardContainer{
    gap: 15px;
    border: 1px solid #88888748;
    background-color: white;
    border-radius: 10px;
    padding: 8px 20px;
    box-shadow: 6px 5px 5px 0px rgba(120,118,118,0.75);
    -webkit-box-shadow: 6px 5px 5px 0px rgba(120,118,118,0.75);
    -moz-box-shadow: 6px 5px 5px 0px rgba(120,118,118,0.75);
}

.cardLink{
    display:flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 8px 0px;
}

.projectCardTitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 8px 0px 0px 0px;
    color: var(--color-primaryfont);
}

.projectCardTitle h2{
    font-size: 1.5rem;
    
}

.projectCardTitle p{
    color: #b2b2b2;
    font-size: 0.8rem;
    justify-self: flex-end;
    
}

.projectCardDetail{
    font-size: 0.8rem;
    margin: 8px 0px;
    font-weight: 600;
}

.projectCardDetail p{
    color: #b2b2b2;
}

.projectCardPeople{
    display: flex;
    justify-content: flex-start;
    font-size: 1rem;
    flex-direction: column;
}
.progressContainer{
    display:flex;
    width: 100%;
    flex-direction: column;
    
}

.progressContainer div{
    display: grid; 
    grid-auto-rows: 1fr; 
    grid-template-columns: 1fr 5%; 
    grid-template-rows: auto; 
    gap: 1%; 
    margin-top: 10px;
    color: white;
}

.progressBar{
    border: 1px solid #b2b2b2;
}

.progressContainer span{
    font-size: 12px;
    font-weight: 700;
    color: #b2b2b2;
}

.progressBarCheck{
    margin:0;
}

.projectDate {
    font-size: 2rem;
    font-weight: 700;
}

