.dashboardCardContainer{
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    gap:10px;
}

.dashboardCard{
    
    width: 45%;
    height: 130px;
    padding: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    background-color: white;
    border-radius: 10px;
    box-shadow: 6px 5px 5px 0px rgba(120,118,118,0.75);
    -webkit-box-shadow: 6px 5px 5px 0px rgba(120,118,118,0.75);
    -moz-box-shadow: 6px 5px 5px 0px rgba(120,118,118,0.75);
    
}

.dashboardCardTitles{
    font-size: 0.7rem;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.dashboardCardTitlesSoporte h3{
    font-size: 0.85rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: #fafafa;
}


.dashboardCardIcons{
    width: 60%;
    font-size: 3rem;
    color: #fafafa;
}

.green{
    background-color: rgba(56, 150, 56, 0.959);
}

.yellow{
    background-color: rgba(250, 250, 31, 0.973);
}

.orange{
    background-color: rgba(250, 176, 39, 0.973);
}

.red{
    background-color: rgb(250, 62, 62);
}

.blue{
    background-color: rgb(250, 62, 62);
}

.dashboardTicketContainer{
    margin: 0px;
    margin-top: 2rem;
    display: flex; 
    justify-content: space-between;
    align-items: center ;
    flex-wrap: wrap;
    gap: 8px; 
   
}

.tableContainerMargin{
    margin-top: 2rem;
}

.tableContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px 5px;
    flex-wrap: wrap;
}

.tableContainerProyect{
    margin-top: 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.tableContainerProyect table{
   width: 100%;
}

.dashboardCardSoporte{
    width: 100%;
    height: 165px;
    padding: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    background-color: rgb(42, 42, 230);
    border-radius: 10px;
    box-shadow: 6px 5px 5px 0px rgba(120,118,118,0.75);
    -webkit-box-shadow: 6px 5px 5px 0px rgba(120,118,118,0.75);
    -moz-box-shadow: 6px 5px 5px 0px rgba(120,118,118,0.75);
    
}

.primaryTable{
    width: 45%;
    text-align: center;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 1px;
    box-shadow: 6px 5px 5px 0px rgba(120,118,118,0.75);
    -webkit-box-shadow: 6px 5px 5px 0px rgba(120,118,118,0.75);
    -moz-box-shadow: 6px 5px 5px 0px rgba(120,118,118,0.75);
}

.primaryTable th {
    border: 1px solid #dededf;
    background-color: rgb(42, 42, 230);
    font-size: 0.9rem;
    color: #fafafa;
    padding: 5px;
}

.primaryTable td {
    border: 1px solid #dededf;
    background-color: #ffffff;
    color: #000000;
    padding: 5px;
    font-size: 0.8rem;
    font-weight: 600;
}

.tableSubtitle{
    background-color: #000000;
}

.progressBarContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3% 3%; 
    margin-top: 10px;
    width: 100%;
    font-size: 14px;
    color: white;
}

.progressBar{
    width: 80%;
    border: 1px solid var(--color-primaryfont);
}

.chart{
    width: 100%;
    height: 400px;
    margin: 3rem 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* media query para tablets */

@media (min-width: 768px) and (max-width: 1024px){
    .dashboardCardContainer{
        flex-wrap: wrap;
    }

    .dashboardCard{
        width: 30%;
        height: 120px;
              
    }

    .primaryTable td:nth-child(2) {
        padding:1px;
    }

    .primaryTable td:nth-child(3) {
        font-size: 0.75rem;
        overflow: hidden; /* Oculta cualquier contenido que desborde del contenedor */
        white-space: nowrap; /* Evita que el texto se divida en líneas */
        text-overflow: ellipsis; /* Muestra puntos suspensivos (...) para indicar que hay más texto oculto */
    }

    .primaryTable td:nth-child(4) {
        font-size: 0.75rem;
        overflow: hidden; /* Oculta cualquier contenido que desborde del contenedor */
        white-space: nowrap; /* Evita que el texto se divida en líneas */
        text-overflow: ellipsis; /* Muestra puntos suspensivos (...) para indicar que hay más texto oculto */
    }
}

/* media query para Celulares */

@media (max-width: 768px){
    .dashboardCardContainer{
        flex-wrap: wrap;
    }

    .dashboardCard{
        width: 60%;
        height: 150px;
        flex-direction: column;     
    }

    .dashboardTicketContainer{
        flex-direction: column;
              
    }

    .primaryTable{
        width: 80%;
        
    }

    .tableContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px 5px;
        flex-wrap: wrap;
    }

    .primaryTable td:first-child {
        font-size: 0.75rem;
        overflow: hidden; /* Oculta cualquier contenido que desborde del contenedor */
        white-space: nowrap; /* Evita que el texto se divida en líneas */
        text-overflow: ellipsis; /* Muestra puntos suspensivos (...) para indicar que hay más texto oculto */
    }

    .primaryTable td:nth-child(3) {
        font-size: 0.75rem;
        overflow: hidden; /* Oculta cualquier contenido que desborde del contenedor */
        white-space: nowrap; /* Evita que el texto se divida en líneas */
        text-overflow: ellipsis; /* Muestra puntos suspensivos (...) para indicar que hay más texto oculto */
    }

    .primaryTable td:nth-child(4) {
        font-size: 0.75rem;
        overflow: hidden; /* Oculta cualquier contenido que desborde del contenedor */
        white-space: nowrap; /* Evita que el texto se divida en líneas */
        text-overflow: ellipsis; /* Muestra puntos suspensivos (...) para indicar que hay más texto oculto */
    }

}