.dashboardCardContainer{
    width: 85vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap:10px;
}

.dashboardCard{
    width: 30%;
    height: 130px;
    padding: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    background-color: white;
    border-radius: 10px;
    box-shadow: 6px 5px 5px 0px rgba(120,118,118,0.75);
    -webkit-box-shadow: 6px 5px 5px 0px rgba(120,118,118,0.75);
    -moz-box-shadow: 6px 5px 5px 0px rgba(120,118,118,0.75);
    
}

.dashboardCardTitles{
    font-size: 0.85rem;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.dashboardCardTitlesSoporte h3{
    font-size: 0.85rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: #fafafa;
}


.dashboardCardIcons{
    width: 60%;
    font-size: 3rem;
    color: #fafafa;
}

.green{
    background-color: rgba(56, 150, 56, 0.959);
}

.yellow{
    background-color: rgba(250, 250, 31, 0.973);
}

.orange{
    background-color: rgba(250, 176, 39, 0.973);
}

.red{
    background-color: rgb(250, 62, 62);
}

.dashboardTicketContainer{
    margin: 0px;
    margin-top: 2rem;
    width: 90vw;
    display: grid; 
    grid-template-columns: 25% 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
   
}

.tableContainerMargin{
    margin-top: 2rem;
}

.tableContainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px 5px;
    flex-wrap: wrap;
}

.tableContainerProyect{
    margin-top: 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.tableContainerProyect table{
   width: 100%;
}

.dashboardCardSoporte{
    width: 100%;
    height: 165px;
    padding: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    background-color: rgb(42, 42, 230);
    border-radius: 10px;
    box-shadow: 6px 5px 5px 0px rgba(120,118,118,0.75);
    -webkit-box-shadow: 6px 5px 5px 0px rgba(120,118,118,0.75);
    -moz-box-shadow: 6px 5px 5px 0px rgba(120,118,118,0.75);
    
}

.primaryTable{
    width: 45%;
    text-align: center;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 1px;
    box-shadow: 6px 5px 5px 0px rgba(120,118,118,0.75);
-webkit-box-shadow: 6px 5px 5px 0px rgba(120,118,118,0.75);
-moz-box-shadow: 6px 5px 5px 0px rgba(120,118,118,0.75);
}

.primaryTable th {
    border: 1px solid #dededf;
    background-color: rgb(42, 42, 230);
    color: #fafafa;
    padding: 5px;
}

.primaryTable td {
    border: 1px solid #dededf;
    background-color: #ffffff;
    color: #000000;
    padding: 5px;
    
}

.tableSubtitle{
    background-color: #000000;
}

.progressBarContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3% 3%; 
    margin-top: 10px;
    width: 100%;
    font-size: 14px;
    color: white;
}

.progressBar{
    width: 80%;
    border: 1px solid var(--color-primaryfont);
}


/* .primaryTable  */

/* .tableBody{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
} */