.projectContainer{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    width:100%;
}

.accordionContainer{
    display:flex;
    flex-direction:column;
    justify-content:center;
}

.tareaAccordeon{
    margin: auto;
    width:100%;
}

.titleContainer{
    width: 100%;
    display: flex;
    justify-content: space-between;
   
}

.button{
    width: 16%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    background-color: var(--color-basani);
    border-radius: 10px;
    padding: 8px 12px;
    box-shadow: 6px 5px 5px 0px rgba(120,118,118,0.75);
-webkit-box-shadow: 6px 5px 5px 0px rgba(120,118,118,0.75);
-moz-box-shadow: 6px 5px 5px 0px rgba(120,118,118,0.75);
}

.button h5{
    color: white;
    letter-spacing: 1px;
}

.button hr{
    height: 1.4rem;
    width: 1px;
    border: none;
    background-color: white;
}