@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap');

.ticketContainer{
    visibility: visible;
    padding: 4rem;
    padding-right: 14rem;
    width: 100%;
    display: flex;
    margin-left: 12.5rem;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--color-background-bodyalternate);
}

.ticketContainerMobile{
    visibility: hidden;
   
}

.mobileContainer{
    padding: 0;
}

.gridContainer{
    width: 100%;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.gridContainer h2{
    margin-bottom: 8px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
}

.divWithDiv{
    width: 100%;
    margin: auto;
}

.buttonContainer{
    margin: left;
    
    width: 100%;
    
}

.buttonActive{
    padding: 3% 5%;
    border-radius: 5% 5% 0 0;
    border: 1px 1px 1px 0px solid var(--color-border);
    background-color:  #dbd9d9;
    margin-right: 1px;
}

.buttonInactive{
    padding: 3% 5%;
    border-radius: 5% 5% 0 0;
    border: 1px 1px 1px 0px solid var(--color-border);
    background-color:  #94a1b2;
    margin-right: 1px;
}

.ticketVistaContainerActive{
    margin: auto;
    width: 100%;
    background-color:  #dbd9d9;
}

.ticketVistaContainerInactive{
    margin: auto;
    width: 100%;
    background-color:  #94a1b2;
}

/* media query para tablets */

@media (min-width: 768px) and (max-width: 1024px){
    .ticketContainerMobile{
        visibility: visible;
        padding: 4rem;
        padding-right: 14rem;
        width: 100%;
        display: flex;
        margin-left: 12.5rem;
        flex-direction: column;
        align-items: flex-start;
        background-color: var(--color-background-bodyalternate);
    }
    

    .ticketContainer{
        visibility: hidden;
    }

    .gridContainer h2{
        font-size: 1.3rem;
        margin-bottom: 5px;
    }
}

/* media query para Celulares */

@media (max-width: 768px){
    .gridContainer h2{
        font-size: 1rem;
    }

}