.gridContainer{
    width: 100%;

    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.gridContainer h2{
    margin-bottom: 8px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
}

.supervisorTitle{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    color: black;

}

.cardContainer{
    /* margin-top: 24px; */
    padding: 36px;
    display: flex;
    align-items: flex-start;
    /* justify-content: center; */
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    gap : 16px;
    max-width: calc(100% - 40px );
    overflow-x: auto;

}

.cardContainer::-webkit-scrollbar {
    height: 8px;
    background-color: #f5f5f5;
}

.cardContainer::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

.cardContainer::-webkit-scrollbar-track {
    background-color: #f5f5f5;
}

.divWithDiv{
    width: 100%;
    margin: auto;
}

.buttonContainer{
    margin: left;

    width: 100%;

}

.buttonActive{
    padding: 3% 5%;
    border-radius: 5% 5% 0 0;
    border: 1px 1px 1px 0px solid var(--color-border);
    background-color:  #dbd9d9;
    margin-right: 1px;
}

.buttonInactive{
    padding: 3% 5%;
    border-radius: 5% 5% 0 0;
    border: 1px 1px 1px 0px solid var(--color-border);
    background-color:  #94a1b2;
    margin-right: 1px;
}

.ticketVistaContainerActive{
    margin: auto;
    width: 100%;
    min-height: 300px;
    background-color:  #dbd9d9;
}

.ticketVistaContainerInactive{
    margin: auto;
    width: 100%;
    background-color:  #94a1b2;
}

.barContainer{
    display: grid;
    grid-template-columns: 20% 4% 66% 10% ;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
    margin-bottom: 10px;
    padding: 0.7rem 1.2rem;
    background-color: #ffffff;
    border-radius: 10px;
}

.finderInput{
    padding: 8px 12px;
    border: 1px solid #d6dbe0;
    box-shadow: none;
    border-radius: 4px;
    width: 200px;
}

.changeCircleIcon{
    color: #888;
    display: flex;
    justify-content: center;
    align-items: center;

}

.changeCircleIcon:hover{
    cursor: pointer;
    color: #94a1b2;
}

.circlesContainer{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.circles{
    color: #728ff0;
    background-color: rgb(226, 243, 250);
    border-radius: 9999px;
    width: fit-content;
    padding: 8px 10px;
    border: 2px solid rgb(189, 232, 250);
}

.circles:hover{
    cursor: pointer;
    background-color: #94a1b2;
    color: white;
}

.cardInformacionContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 16px;

}

.containerInfoTicket{
    display: flex;
    flex-direction: row;
    gap: 16px;
    
}

@media (min-width: 768px) and (max-width: 1024px){
    .gridContainer h2{
        font-size: 1.3rem;
        margin-bottom: 5px;
    }
}

/* media query para Celulares */

@media (max-width: 768px){
    .gridContainer h2{
        font-size: 1rem;
    }

}